@component('components/layout', {title: 'Modifier un deck | QuizConst'})
<h1>
    Modifier un deck
</h1>
<a style="padding-top: 0.6rem" href="{{route('deck.show', {id: deck.id_deck})}}">Retour</a>
@endcomponent