@component('components/layout', {title: 'Se connecter | QuizConst'})
  <h2>
    Se connecter
  </h2>
  <form action="{{ route('auth.login') }}" method="POST">
    {{ csrfField() }}
    <input type="text" name="username" id="username" required />
    <input type="text" name="password" id="password" required />
    <button type="submit">Se connecter</button>
    <a href="{{ route('auth.register.show') }}">Créer un compte</a>
  </form>
@endcomponent
