<header>
  <div class="left-side">
    <a href="{{ route('home') }}">      <img src="/img/logo.png" alt="Logo représenté par des cartes" /></a>
    <p>
      QuizConst
    </p>
  </div>
  @if(isAuthenticated)
    <div class="right-side">
      <p style="display:flex">
        {{ auth.user.username }} ({{ auth.user.isAdmin ? 'Admin' : 'User'}})
      </p>
      <a href="{{ route('auth.logout') }}">Se déconnecter</a>
    </div>
  @endif
</header>
