<header>
  <div class="left-side">
    <a href="{{ route('home') }}">      <img src="/img/logo.png" alt="Logo représenté par des cartes" /></a>
    <p>
      QuizConst
    </p>
  </div>
  <div class="right-side">
    <p>
      afficher_nom_d_utilisateur
    </p>
    <button>Se déconnecter</button>
  </div>
</header>
