@component('components/layout', {title: 'Accueil'})
  <h2>
    Mes decks
  </h2>
  @if(deckCount === 0)
    <h4 class="no-deck">
      Aucune collections pour le moment
    </h4>
  @endif
  <a href="/linkToCreationPage" class="createDeck">Créer un deck</a>
@endcomponent
