/* Réinitialisation des marges et paddings */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  box-sizing: border-box; /* Assure que les paddings et marges ne dépassent pas la largeur des éléments */
}

html,
body {
  height: 100%;
  width: 100%;
}

/*############################################## [ HEADER ] ##############################################*/
header {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin: 1rem;
}

/* PARTIE DE GAUCHE */
.left-side,
.right-side {
  display: flex;
  align-items: center;
  gap: 5%;
}
.left-side #headerImg {
  width: 20%;
  height: auto;
}
.left-side #headerImg img {
  width: 100%;
  height: auto;
}
.left-side #headerTxt {
  font-size: 2rem;
  font-weight: 800;
}

/* PARTIE DE DROITE */
.right-side p {
  font-size: 1rem;
}
.right-side button {
  border: none;
  width: 10rem;
  height: 2.5rem;
}

/*############################################## [ MAIN ] ############################################## */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.container h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}
table {
  width: 55%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: 1vw;
  border-bottom: #ddd solid 1px;
}

/* Formulaire */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto; /* Centrer le formulaire */
  padding: 0 1rem; /* Padding pour éviter que le bouton touche les bords */
}

form input {
  margin-bottom: 1rem; /* Réduit l'espace entre l'input et le message d'erreur */
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

form input:focus {
  border-color: rgb(27, 81, 196);
  outline: none;
}
form textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  min-height: 150px; /* Hauteur minimale pour textarea */
  resize: vertical; /* Permet à l'utilisateur de redimensionner verticalement */
  margin-bottom: 1rem; /* Espace sous le textarea */
}

form textarea:focus {
  border-color: rgb(27, 81, 196); /* Changer la bordure au focus */
  outline: none;
}

form a {
  margin-top: 1rem;
}

/* Button */
button {
  padding: 1rem;
  background-color: rgb(27, 81, 196);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  font-size: 1.1rem;
  width: 100%; /* Toujours garantir que le bouton prend toute la largeur */
  box-sizing: border-box; /* Pour s'assurer que le padding ne fait pas déborder */
  margin: 0 auto; /* Centrer le bouton */
  display: block; /* Assure que le bouton est un élément de type bloc */
}

/* Button disabled */
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Effet de hover */
button:hover:not(:disabled) {
  transform: scale(1.05); /* Agrandissement au survol */
  background-color: rgb(21, 69, 154); /* Changement de couleur au survol */
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

/* Pour éviter que le bouton dépasse lors du hover */
button:hover {
  overflow: hidden;
}

/* A link style */
a {
  text-align: center;
  font-size: 1rem;
  color: rgb(27, 81, 196);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Affichage du bouton en fonction des champs */
button[style='display: none'] {
  display: none;
}

/* Formulaire de création */
.createDeck {
  color: white;
  text-decoration: none;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: rgb(27, 81, 196);
  transition: transform 0.3s ease;
}

.createDeck:hover {
  transform: scale(1.1);
  text-decoration: none;
}

.no-deck {
  padding-top: 2rem;
  text-align: center;
}

.updateContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto; /* Centrer le formulaire */
  padding: 0 1rem; /* Padding pour éviter que le bouton touche les bords */
}

#updateCard,
#updateDeck {
  padding: 1rem;
  background-color: white;
  color: rgb(27, 81, 196);
  border: 1px solid rgb(27, 81, 196);
  border-radius: 5px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  font-size: 1.1rem;
  max-width: 30rem;
  width: 100%; /* Toujours garantir que le bouton prend toute la largeur */
  box-sizing: border-box; /* Pour s'assurer que le padding ne fait pas déborder */
  margin: 0 auto; /* Centrer le bouton */
  margin-bottom: 0.6rem;
  display: block; /* Assure que le bouton est un élément de type bloc */
}
#updateCard:disabled,
#updateDeck:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Effet de hover */
#updateCard:hover:not(:disabled),
#updateDeck:hover:not(:disabled) {
  transform: scale(1.05); /* Agrandissement au survol */
  color: white;
  background-color: rgb(21, 69, 154); /* Changement de couleur au survol */
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.clickableDeck:hover {
  background-color: rgb(232, 226, 226);
  cursor: pointer;
}

/* Erreurs */
.text-danger {
  color: red;
  font-size: 0.9rem; /* Un peu plus petit que le texte normal */
  margin-bottom: 0.75rem;
}

/*-----------------------------------------------SHOW DECK--------------------------------------*/
/* Réinitialisation des marges et paddings */

.showDeckContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; /* Espace entre les deux parties */
}

.leftPart,
.rightPart {
  flex: 1;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LEFT PART */
/* Formulaire */
.leftPart {
  width: 100%;
}
.leftPart form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.leftPart form input {
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

.leftPart form input:focus {
  border-color: rgb(27, 81, 196);
  outline: none;
}

.leftPart form textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  min-height: 150px;
  resize: vertical;
  margin-bottom: 1rem;
}

.leftPart form textarea:focus {
  border-color: rgb(27, 81, 196);
  outline: none;
}

/* Bouton */
.leftPart button {
  padding: 1rem;
  background-color: rgb(27, 81, 196);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  font-size: 1.1rem;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
}

.leftPart button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.leftPart button:hover:not(:disabled) {
  transform: scale(1.05);
  background-color: rgb(21, 69, 154);
}

/* Lien */
.leftPart a {
  text-align: center;
  display: block;
  width: 100%;
}

.leftPart a:hover {
  text-decoration: underline;
}

/* Conteneur de mise à jour */
.leftPart .updateContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.leftPart #updateDeck {
  padding: 1rem;
  background-color: white;
  color: rgb(27, 81, 196);
  border: 1px solid rgb(27, 81, 196);
  border-radius: 5px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  font-size: 1.1rem;
  max-width: 30rem;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 0.6rem auto;
  display: block;
}

.leftPart #updateDeck:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.leftPart #updateDeck:hover:not(:disabled) {
  transform: scale(1.05);
  color: white;
  background-color: rgb(21, 69, 154);
}

/* RIGHT PART */
.rightPart {
  flex: 1;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightPart table {
  width: 100%;
  max-width: 30rem;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.rightPart th,
.rightPart td {
  border: 1px solid #ccc;
  padding: 0.8rem;
  text-align: center;
}

.rightPart th {
  background-color: #f0f0f0; /* Gris clair */
  color: black;
}

.rightPart a {
  text-align: center;
  display: block;
  padding: 1rem;
  background-color: rgb(27, 81, 196);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  font-size: 1.1rem;
  width: 100%;
  max-width: 30rem;
}

.rightPart a:hover {
  transform: scale(1.05);
  background-color: rgb(21, 69, 154);
}

/* CARD*/
.toggleCard {
  width: 100%;
  max-width: 28rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 5px;
  margin-bottom: 1rem;
  user-select: none;
}
.toggleCard h3 {
  font-weight: 400;
}
.toggleCard:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

/*Flash*/
/* Style général pour les alertes */
.alert {
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 30rem; /* Limite la largeur pour qu'elle s'adapte bien au design */
  margin: 1rem auto; /* Centrer les alertes */
  box-sizing: border-box; /* Prendre en compte le padding */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Alertes de succès */
.alert-success {
  background-color: #d4edda; /* Vert pâle */
  color: #155724; /* Texte vert foncé */
  border: 1px solid #c3e6cb; /* Bordure verte */
}

.alert-success .close {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #155724;
  cursor: pointer;
  transition: color 0.3s ease;
}

.alert-success .close:hover {
  color: #0c2f0f; /* Légèrement plus foncé lors du survol */
}

/* Alertes d'erreur */
.alert-danger {
  background-color: #f8d7da; /* Rouge pâle */
  color: #721c24; /* Texte rouge foncé */
  border: 1px solid #f5c6cb; /* Bordure rouge */
}

.alert-danger .close {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #721c24;
  cursor: pointer;
  transition: color 0.3s ease;
}

.alert-danger .close:hover {
  color: #491217; /* Légèrement plus foncé lors du survol */
}

/* Ajout d'un effet pour faire disparaître l'alerte (facultatif) */
.alert.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#playActions {
  display: flex;
  width: 100%;
  max-width: 28rem;
  gap: 10px;
}

#wrong {
  background-color: rgb(177, 15, 15);
  width: 50%;
}
#correct {
  background-color: rgb(92, 151, 4);
  width: 50%;
}
