/* Réinitialisation des marges et paddings */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  box-sizing: border-box; /* Assure que les paddings et marges ne dépassent pas la largeur des éléments */
}

html,
body {
  height: 100%;
  width: 100%;
}

/*############################################## [ HEADER ] ##############################################*/
header {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin: 1rem;
}

/* PARTIE DE GAUCHE */
.left-side,
.right-side {
  display: flex;
  align-items: center;
  gap: 5%;
}
.left-side a {
  width: 20%;
  height: auto;
}
.left-side a img {
  width: 100%;
  height: auto;
}
.left-side p {
  font-size: 2rem;
  font-weight: 800;
}

/* PARTIE DE DROITE */
.right-side p {
  font-size: 1rem;
}
.right-side button {
  border: none;
  width: 10rem;
  height: 2.5rem;
}

/*############################################## [ MAIN ] ############################################## */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.container h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}
table {
  width: 55%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: 1vw;
  border-bottom: #ddd solid 1px;
}

/* Formulaire */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto; /* Centrer le formulaire */
  padding: 0 1rem; /* Padding pour éviter que le bouton touche les bords */
}

form input {
  margin-bottom: 1rem; /* Réduit l'espace entre l'input et le message d'erreur */
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

form input:focus {
  border-color: rgb(27, 81, 196);
  outline: none;
}
form textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  min-height: 150px; /* Hauteur minimale pour textarea */
  resize: vertical; /* Permet à l'utilisateur de redimensionner verticalement */
  margin-bottom: 1rem; /* Espace sous le textarea */
}

form textarea:focus {
  border-color: rgb(27, 81, 196); /* Changer la bordure au focus */
  outline: none;
}

form a {
  margin-top: 1rem;
}

/* Button */
button {
  padding: 1rem;
  background-color: rgb(27, 81, 196);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  font-size: 1.1rem;
  width: 100%; /* Toujours garantir que le bouton prend toute la largeur */
  box-sizing: border-box; /* Pour s'assurer que le padding ne fait pas déborder */
  margin: 0 auto; /* Centrer le bouton */
  display: block; /* Assure que le bouton est un élément de type bloc */
}

/* Button disabled */
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Effet de hover */
button:hover:not(:disabled) {
  transform: scale(1.05); /* Agrandissement au survol */
  background-color: rgb(21, 69, 154); /* Changement de couleur au survol */
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

/* Pour éviter que le bouton dépasse lors du hover */
button:hover {
  overflow: hidden;
}

/* A link style */
a {
  text-align: center;
  font-size: 1rem;
  color: rgb(27, 81, 196);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Affichage du bouton en fonction des champs */
button[style='display: none'] {
  display: none;
}

/* Formulaire de création */
.createDeck {
  color: white;
  text-decoration: none;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: rgb(27, 81, 196);
  transition: transform 0.3s ease;
}

.createDeck:hover {
  transform: scale(1.2);
}

.no-deck {
  padding-top: 2rem;
  text-align: center;
}

.updateContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto; /* Centrer le formulaire */
  padding: 0 1rem; /* Padding pour éviter que le bouton touche les bords */
}
#updateDeck{
  padding: 1rem;
  background-color: white;
  color: rgb(27, 81, 196);
  border: 1px solid rgb(27, 81, 196);
  border-radius: 5px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  font-size: 1.1rem;
  max-width: 30rem;
  width: 100%; /* Toujours garantir que le bouton prend toute la largeur */
  box-sizing: border-box; /* Pour s'assurer que le padding ne fait pas déborder */
  margin: 0 auto; /* Centrer le bouton */
  margin-bottom: 0.6rem;
  display: block; /* Assure que le bouton est un élément de type bloc */
}
#updateDeck:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Effet de hover */
#updateDeck:hover:not(:disabled) {
  transform: scale(1.05); /* Agrandissement au survol */
  color: white;
  background-color: rgb(21, 69, 154); /* Changement de couleur au survol */
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

/* Pour éviter que le bouton dépasse lors du hover */
:hover {
  overflow: hidden;
}

/* Erreurs */
.text-danger {
  color: red;
  font-size: 0.9rem; /* Un peu plus petit que le texte normal */
  margin-bottom: 0.75rem;
}
